.play, .reset{
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  margin-right: 10px;
}

.barWidth, .frameRate {
  margin-right: 10px;
  font-size: 2em;
  width: 5rem;
}
.buttons {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 50;
    width: 100%;
}
h1 {
  font-size: 2.5vw;
    text-align: center;
}

body, html{
    color: aliceblue;
    background-color: rgb(77, 75, 75);
    font-family: Montserrat, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sort {
    margin-right: 25px;
}